.state-icon:before {
  content: "";
  width: 3rem;
  height: 3rem;
  background: url(state_icons.png) no-repeat;
  background-size: 3rem 12rem;
}

section[role="region"] > header:first-child .state-icon:before {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

[data-type="list"] li > .state-icon:before {
  
  pointer-events: none;
  position: absolute;
  top: calc(50% - 1.5rem);
  right: -0.5rem;
}

.settings ul li > label.pack-checkbox.state-icon > span:after, 
.settings ul li > label.pack-radio.state-icon > span:after, 
.settings ul li > label.pack-switch.state-icon > input ~ span:after {
    left: auto;
    right: 6rem;
}

.settings .state-icon:before {
    position: absolute;
    right: 1rem;
    top: 1.5rem;
}

.state-online:before { background-position: 0 0; }
.state-not-available:before { background-position: 0 -30px; }
.state-away:before { background-position: 0 -60px; }
.state-offline:before { background-position: 0 -90px; }