<section id="account-settings-panel" role="region">
    <header class="fixed">
        <button class="toggle-sidebar" snap-toggle="left"><span class="icon icon-menu" data-l20n="showSidebar">Show Sidebar</span></button>
        <menu type="toolbar">
            <button class="settings-done" data-l20n="done">Done</button>
        </menu>
        <h1 data-l20n="account">Account</h1>
    </header>
    <article class="settings header">
        <ul>
            <li>
                <input type="email" ng-model="account.jid" placeholder="you@example.org" data-l20n="jabberId" required="">
            </li>
            <li>
                <input type="password" ng-model="account.password" placeholder="Password" data-l20n="password" required="">
            </li>
            <li>
                <input type="url" ng-model="account.serverUrl" placeholder="https://example.org/http-bind" data-l20n="serverUrl" required="">
            </li>
            <li>
                <input type="text" ng-model="account.nickname" placeholder="Nickname (optional)">
            </li>
            <li>
                <button ng-click="connect()" data-l20n="testConnection">Test Connection</button>
            </li>
            <!--li>
                <label class="pack-switch">
                    <input type="checkbox" ng-model="account.autoconnect" checked>
                    <span>Automatically connect on startup</span>
                </label>
            </li>
            <li>
                <label class="pack-switch">
                    <input type="checkbox" ng-model="auto-reconnect" checked>
                    <span>Automatically reconnect if disconnected</span>
                </label>
            </li>
            <li>
                <label class="pack-switch">
                    <input type="checkbox" checked>
                    <span>Log message history</span>
                </label>
            </li-->
        </ul>
    </article>
    <!-- Advanced settings
    <article class="settings header">
        <ul>
            <li>
                <input type="text" placeholder="Host" required="">
            </li>
            <li>
                <input type="text" placeholder="Port" value="5222" required="">
            </li>
            <li>
                <label class="pack-switch">
                    <input type="checkbox" checked>
                    <span>Allow Plaintext Login</span>
                </label>
            </li>
            <li>
                <label class="pack-switch">
                    <input type="checkbox" checked>
                    <span>Send "Keep-alive" packets (for NAT timeouts)</span>
                </label>
            </li>
        </ul>
    </article>
    -->
</section>
