<section id="add-contact-panel" role="region">
    <header class="fixed">
        <button class="toggle-sidebar" snap-toggle="left"><span class="icon icon-menu" data-l20n="showSidebar">Show Sidebar</span></button>
        <menu type="toolbar">
            <button class="settings-done" data-l20n="done">Done</button>
        </menu>
        <h1 data-l20n="addContact">Add Contact</h1>
    </header>
    <article class="settings header">
        <ul>
            <li>
                <input type="email" placeholder="Jabber ID" data-l20n="jabberId" required="">
            </li>
            <li>
                <input type="text" placeholder="Nickname (optional)" data-l20n="nickname">
            </li>
            <li>
                <label class="pack-switch">
                    <input type="checkbox" checked>
                    <span data-l20n="requestAuthorizationWhenAdding">Request authorization when adding</span>
                </label>
            </li>
        </ul>
    </article>
</section>
