<section id="add-contact-panel" role="region">
    <header class="fixed">
        <button class="toggle-sidebar" snap-toggle="left"><span class="icon icon-menu">show sidebar</span></button>
        <menu type="toolbar">
            <button class="settings-done"><span>Done</span></button>
        </menu>
        <h1>Add Contact</h1>
    </header>
    <article class="settings header">
        <ul>
            <li>
                <input type="email" placeholder="Jabber ID" required="">
            </li>
            <li>
                <input type="text" placeholder="Nickname (optional)">
            </li>
            <li>
                <label class="pack-switch">
                    <input type="checkbox" checked>
                    <span>Request authorization when adding</span>
                </label>
            </li>
        </ul>
    </article>
</section>
