<!------------------ Change Status Screen ------------------>
<section id="change-status-panel" role="region" hidden>
    <header class="fixed">
        <button class="toggle-sidebar"><span class="icon icon-menu">show sidebar</span></button>
        <menu type="toolbar">
            <button class="settings-done"><span>Done</span></button>
        </menu>
        <h1>Change Status</h1>
    </header>
    <article class="settings scrollable header">
        <ul>
            <li>
                <label class="pack-radio state-icon state-online">
                    <input type="radio" name="status" checked>
                    <span>Online</span>
                </label>
            </li>
            <li>
                <label class="pack-radio state-icon state-free-for-chat">
                    <input type="radio" name="status">
                    <span>Free for Chat</span>
                </label>
            </li>
            <li>
                <label class="pack-radio state-icon state-away">
                    <input type="radio" name="status">
                    <span>Away</span>
                </label>
            </li>
            <li>
                <label class="pack-radio state-icon state-not-available">
                    <input type="radio" name="status">
                    <span>Not Available</span>
                </label>
            </li>
            <li>
                <label class="pack-radio state-icon state-do-not-disturb">
                    <input type="radio" name="status">
                    <span>Do not Disturb</span>
                </label>
            </li>
            <li>
                <label class="pack-radio state-icon state-invisible">
                    <input type="radio" name="status">
                    <span>Invisible</span>
                </label>
            </li>
            <li>
                <label class="pack-radio state-icon state-offline">
                    <input type="radio" name="status">
                    <span>Offline</span>
                </label>
            </li>
        </ul>
    </article>
</section>
