<section id="change-status-panel" role="region">
    <header class="fixed">
        <button class="toggle-sidebar" snap-toggle="left"><span class="icon icon-menu" data-l20n="showSidebar">Show Sidebar</span></button>
        <menu type="toolbar">
            <button class="settings-done" data-l20n="done">Done</button>
        </menu>
        <h1 data-l20n="changeStatus">Change Status</h1>
    </header>
    <article class="settings scrollable header">
        <ul>
            <li>
                <label class="pack-radio state-icon state-online">
                    <input type="radio" name="status" checked>
                    <span data-l20n="statusOnline">Online</span>
                </label>
            </li>
            <li>
                <label class="pack-radio state-icon state-free-for-chat">
                    <input type="radio" name="status">
                    <span data-l20n="statusFreeForChat">Free for Chat</span>
                </label>
            </li>
            <li>
                <label class="pack-radio state-icon state-away">
                    <input type="radio" name="status">
                    <span data-l20n="statusAway">Away</span>
                </label>
            </li>
            <li>
                <label class="pack-radio state-icon state-xa">
                    <input type="radio" name="status">
                    <span data-l20n="statusNotAvailable">Not Available</span>
                </label>
            </li>
            <li>
                <label class="pack-radio state-icon state-dnd">
                    <input type="radio" name="status">
                    <span data-l20n="statusDoNotDisturb">Do not Disturb</span>
                </label>
            </li>
            <li>
                <label class="pack-radio state-icon state-invisible">
                    <input type="radio" name="status">
                    <span data-l20n="statusInvisible">Invisible</span>
                </label>
            </li>
            <li>
                <label class="pack-radio state-icon state-offline">
                    <input type="radio" name="status">
                    <span data-l20n="statusOffline">Offline</span>
                </label>
            </li>
        </ul>
    </article>
</section>
