<section id="options-panel" role="region">
    <header class="fixed">
        <button class="toggle-sidebar" snap-toggle="left"><span class="icon icon-menu">show sidebar</span></button>
        <menu type="toolbar">
            <button class="settings-done"><span>Done</span></button>
        </menu>
        <h1>Options</h1>
    </header>
    <article class="settings scrollable header">
        <ul>
            <li>
                <label class="pack-switch">
                    <input type="checkbox" checked>
                    <span>Auto-authorize contacts</span>
                </label>
            </li>
            <li>
                <label class="pack-switch">
                    <input type="checkbox" checked>
                    <span>Notify when authorization was recieved</span>
                </label>
            </li>
            <li>
                <label class="pack-switch">
                    <input type="checkbox">
                    <span>Enter key sends chat message</span>
                </label>
            </li>
            <li>
                <label class="pack-switch">
                    <input type="checkbox" checked>
                    <span>Autoscroll messages window</span>
                </label>
            </li>
            <li>
                <label class="pack-switch">
                    <input type="checkbox">
                    <span>Show notification even if Jabber app is opened</span>
                </label>
            </li>
            <li>
                <label class="pack-switch">
                    <input type="checkbox">
                    <span>Show chat panel on recieving new message</span>
                </label>
            </li>
            <li>
                <label class="pack-switch">
                    <input type="checkbox">
                    <span>Clear chat contents one hour after the chat panel was closed</span>
                </label>
            </li>
            <li>
                <label class="pack-switch">
                    <input type="checkbox" checked>
                    <span>Play sounds</span>
                </label>
            </li>
            <li>
                <label class="pack-switch">
                    <input type="checkbox" checked>
                    <span>Play sounds when Away, Not Available or Offline</span>
                </label>
            </li>
            <li>
                <label class="pack-switch">
                    <input type="checkbox">
                    <span>Enable "Contact is typing…" events</span>
                </label>
            </li>
        </ul>
    </article>
</section>
