* {
  margin: 0;
  padding: 0;
}

#index, #chat {
  height: 100%;
}

.header {
  position: relative;
  top: 5rem;
  height: calc(100% - 5rem);  /* height - top */
}

section[role="region"] > header:first-child a,
section[role="region"] > header:first-child button {
    color: #fff;
}

snap-drawer {
  width: 266px;
}

#add-contact-btn {
  margin: 1.5rem;
  width: calc(100% - 3rem);
}

#sidebar {
  width: 100%;
}
